*{
    font-family: Poppins;
}
body{
    min-height: 100vh;
    background-color:   rgba(255, 121, 121, 1);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.lrn{
    width: 525px;
    height: 220px;
    margin-left: 50px;
}
.lrn h3 {
    font-size: 50px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: -0.5208333134651184px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
    
}
.lrn p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
    
}
.main-input{
    width: 540px;
    height: 565px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.free{

    width: 540px;
    height: 60px;
    top: 121px;
    left: 735px;
    gap: 0px;
    opacity: 0px;
    background: rgba(94, 84, 164, 1);
    display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
}
.free p {
    color: white;
}
.minfo{
    width: 540px;
    height: 475px;
    top: 205px;
    left: 735px;
    gap: 0px;
    opacity: 0px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    
}
#form{

    position: relative;
}
.minfo input{
    width: 460px;
    height: 56px;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid rgba(222, 222, 222, 1);
    
}
.minfo button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 460px;
    height: 56px;
    top: 344px;
    left: 40px;
    gap: 0px;
    opacity: 0px;
    background: rgba(56, 204, 139, 1);
    border: 0;
    border-radius: 5px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 1px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
    box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.09) inset;
    cursor: pointer;

}
.minfo button:hover{
    background: rgba(119, 226, 179, 1);

}
.minfo p {

    font-family: Poppins;
    font-size: 11px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(186, 183, 212, 1);

    
}
.minfo span{
    color: rgba(255, 121, 121, 1);
    font-family: Poppins;
    font-size: 11px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}
input::placeholder{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.25px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-left: 15px;
    
}

input{
    font-size: 20px;
    outline: none;
    padding-left: 15px;

}
#message1  {
    top: 50%; /* Center it vertically relative to the input */
    transform: translateY(-25%);
    transform: translateX(85%);
    font-size: 12px;
    margin-left: 60px;
  }
#message2  {
    top: 50%; /* Center it vertically relative to the input */
    transform: translateY(-25%);
    transform: translateX(85%);
    font-size: 12px;
    margin-left: 60px;
  }
#message3  {
    top: 50%; /* Center it vertically relative to the input */
    transform: translateY(-25%);
    transform: translateX(85%);
    font-size: 12px;
    margin-left: 60px;
  }
#message4  {
    top: 50%; /* Center it vertically relative to the input */
    transform: translateY(-25%);
    transform: translateX(85%);
    font-size: 12px;
    margin-left: 60px;
  }
 
  .error-icon1 {
    position: absolute;
    right: 38px;
    top: 7%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    display: none;
    
  }
  .error-icon2 {
    position: absolute;
    right: 38px;
    top: 26%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    display: none;
    
  }
  .error-icon3 {
    position: absolute;
    right: 38px;
    top: 45%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    display: none;
    
  }
  .error-icon4 {
    position: absolute;
    right: 38px;
    top: 64%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    display: none;
  }

